<?xml version="1.0"?>
<appSettings>
    <!-- MPS -->
    <add key="mps.host2.url" value="http://mps2.billtomobile.com"/>
    <add key="mps.host2.port" value="8080"/>
    <add key="fiona.path" value="/fiona/fiona"/>

    <!-- LMS -->
    <add key="LMS.LMSImpl" value="http://172.17.40.142:8080/lms/services/LMSImpl"/>

    <!-- Email -->
    <add key="smtp.host" value="172.17.20.105"/>
    <add key="backoffice.host.url" value="http://172.17.30.31"/>
    <add key="email.template.port" value="8080"/>
    <add key="email.template.dir" value="D:\Homesites\Email_Template\"/>
    <add key="email.verizon.fulfillment" value="anu.bellary@danalcorp.com"/>
    <add key="email.l3.approved" value="jennifer.son@danalcorp.com"/>

    <!-- Cert Key -->
    <add key="cert.host.url" value="http://172.17.30.21"/>
    <add key="cert.path" value="/cert/"/>

    <!-- Invoice -->
    <add key="crm.dir" value="D:\Homesites\CRM\"/>
    <add key="remittance.file.download.dir" value="finance\invoice\"/>

    <!-- Upload File -->
    <add key="uploadfile" value="D:\UploadFile\"/>
    <add key="uploadedfiles.dir" value="D:\UploadedFiles\"/>
    <add key="dispute.dir" value="Dispute\"/>
    <add key="customer.affidavit.dir" value="Customer_Affidavit\"/>
    <add key="merchant.document.dir" value="Merchant_document\"/>

    <!-- Etc File -->
    <add key="files.etc.dir" value="\Homesites\Files\Etc\"/>

    <!-- Data Source -->
    <add key="app.data.dir" value="D:\Homesites\App_Data\"/>
</appSettings>

